.column-optimus p {
	font: normal 11px/34px Arial !important;
	color: #fff;
	width: 34px;
	height: 34px;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px !important;
	border-radius: 17px;
}
.column-optimus p span {
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
}
.column-optimus p.done {
    background: #1fb300;
}

.column-optimus p.error {
    cursor: pointer;
    background: orange;
}
.column-optimus p.error span {
    font-size: 20px;
    
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    transform-style: preserve-3d;
    transition: 0.6s;
}
.column-optimus p.error:hover {
    width: auto;
}
.column-optimus p.error:hover span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.column-optimus p.error em {
    display: inline-block;
    vertical-align: top;
}