/* @group Media */

.manage-column.column-optimus {
	width: 5em;
}

.optimus.column-optimus div {
	width: 32px;
	height: 32px;
	position: relative;
	background: #b4b9be;
	margin-left: 11px;
	border-radius: 16px;
}

.optimus.column-optimus p {
	top: 0;
	left: 0;
	color: #fff;
	width: 32px;
	height: 32px;
	margin: 0;
	z-index: 99;
	position: absolute;
	text-align: center;
	font-size: 10px;
	line-height: 32px;
}
.optimus.column-optimus p:before {
	top: 0;
	left: 0;
	border: 16px solid transparent;
	z-index: -99;
	content: '';
	position: absolute;
	border-radius: 16px;

	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.optimus.column-optimus .one p:before {
	border-right-color: #7ad03a;
}
.optimus.column-optimus .two p:before {
	border-right-color: #7ad03a;
	border-bottom-color: #7ad03a;
}
.optimus.column-optimus .three p:before {
	border-left-color: #7ad03a;
	border-right-color: #7ad03a;
	border-bottom-color: #7ad03a;
}
.optimus.column-optimus .four p:before {
	border-color: #7ad03a;
}

/* @end group */

/* @group Management */

#optimus-bulk-optimizer #media-items .bar.success {
    background-color: #7ad03a;
}

#optimus-bulk-optimizer #media-items .bar.partial {
    background-color: #3a91d0;
}

#optimus-bulk-optimizer #media-items .bar.info {
    background-color: #999;
}

#optimus-bulk-optimizer #media-items .bar.err {
    background-color: #bbb;
}

#optimus-bulk-optimizer .media-item {
    box-shadow: 0px 1px 0px #DFDFDF;
    min-height: 36px;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
}

#optimus-bulk-optimizer .progress~.percent {
    float: right;
    line-height: 36px;
    margin-right: 20px;
}

#optimus-progress span, #optimus-status span {
	background: #eaeaea;
	background: rgba(0,0,0,.07);
	padding: 5px;
}

/* @end group */
